
html{

    :root {
        --background-color: lightcoral;
    }
    
    .encabe {
        background-color: lightcoral;

    }
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 7rem;
        position: relative;
        bottom: 0;
        padding: 6rem 40px;
    
    }
    
    h1{
        margin: 0;
    }


    .imaglogo {
        max-width: 90%;
        position: relative;
        top: 0;
        left: 0;
    }
    
    .logo {
        flex-basis: 70%;
        max-width: 70%;
        text-align: center;
        font-weight: bold;
        font-size: 8rem;
        margin-top: -70px;
    }
    
    .tabs{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
    }
    
    .tab-button{
        background-color: #c5b8b8;
        padding: 30px;
        border: none;
        cursor: pointer;
        font-size: 50px;
        outline: none;
        grid-column: span 1;
        margin: 0;
        text-decoration: none;
        color: black;
        text-align: center;
    }
    
    .tab-button:hover{
        background-color: purple;
    }
    
    .tab-content{
        padding: 15px;
        display: none;
    }
    
    .tab-content.active{
        display: block;
    }

    .dias{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-gap: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
    }
    
    .diasbot{
        background-color: #c5b8b8;
        padding: 25px;
        border: none;
        cursor: pointer;
        font-size: 30px;
        font-style: italic;
        font-weight: bolder;
        outline: none;
        grid-column: span 1;
        margin: 0;
        text-decoration: none;
        color: black;
        text-align: center;
    }

    .fechas{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-gap: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        margin: 5px 0;
    }

    .diasfech{
        background-color: #c5b8b8;
        padding: 20px;
        border: none;
        cursor: pointer;
        font-size: 40px;
        font-weight: lighter;
        outline: none;
        grid-column: span 1;
        margin: 0;
        text-decoration: none;
        color: black;
        text-align: center;
    }

    .diasfech:hover{
        background-color: purple;
        transform: scale(1.20);
    }

    .message-input {
        position: absolute;
        bottom: 64%;
        left: 0;
        right: 0;
        padding: 10px;
        font-size: 24px;
        border-top: 1px solid #ccc;
        background-color: none;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
        border: none;
        width:  97vw;
    }
    
    .fechas:focus-within .message-input {
        opacity: 0.9;
        pointer-events: auto;
    }
    
    .message-submit {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 10px;
        font-size: 24px;
        border: none;
        background-color: purple;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .fechas:focus-within .message-submit {
        background-color: lightcoral;
    }

    
    


    
    @media screen and (max-width: 320px) {
        .logo {
        font-size: 24px;
        top: 40px;
        }
        
        .tab-button {
        padding: 3px;
        font-size: 12px;
        }
        
        .tabs {
        padding: 5px;
        }
    }
    
    @media screen and (max-width: 240px) {
        .logo {
        font-size: 20px;
        top: 30px;
        }
        
        .tab-button {
        padding: 2px;
        font-size: 10px;
        }
        
        .tabs {
        padding: 3px;
        }
    }

    @media screen and (max-width: 480px) {
        .logo {
        font-size: 3rem;
        top: 2rem;
        }
        
        .tab-button {
        padding: 1rem;
        font-size: 1.5rem;
        }
    }
}